/data/01_05_2021_states_combined.csv
/data/01_05_2021_states_combined_temperature_demographics_and_holidays.csv
/data/01_05_2021_states_combined_temperature_demographics_and_holidays_final.csv
/data/01_05_2021_states_combined_temperature_demographics_and_holidays_final_scaled_v2.csv
/data/01_05_2021_states_combined_temperature_demographics_and_holidays_final_v2.csv
/data/11_09_2020_states_combined.csv
/data/12_06_2020_states_combined.csv
/data/12_10_2020_states_combined.csv
/data/12_28_2020_states_combined.csv
